.button {
  display: block;
  text-align: center;
}

.button--answer {
  background-color: rgb(19, 177, 19);
  color: darkgreen;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  font-size: larger;
  border: none;
  border-radius: 5px;
}
