.card {
  border: 1px solid rgb(0, 0, 82);
  border-radius: 5px;
  background-color: azure;
  margin-bottom: 1.5rem;
  padding: 1rem;
  color: rgb(0, 0, 82);
  width: 350px;
  box-shadow: 0 0 1em;
  position: relative;
}

.card--bookmarked {
  border: 2px solid rgb(0, 0, 82);
  border-radius: 5px;
  background-color: rgb(0, 0, 82, 0.6);
  margin-bottom: 1.5rem;
  padding: 1rem;
  color: azure;
  width: 350px;
  box-shadow: 8px 8px 1em rgb(0, 0, 82);
  position: relative;
}

.card__title {
  font-variant: small-caps;
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

.card__title--bookmarked {
  font-variant: small-caps;
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

.card__text {
  text-align: justify;
  padding: 0rem 2rem;
}

.card__taglist {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card__tag {
  text-decoration: none;
  color: rgb(30, 200, 243);
}

.card__tag:hover {
  color: rgb(0, 0, 82);
}

.card__answer {
  border: 1px solid rgb(0, 0, 82);
  border-radius: 5px;
  background-color: azure;
  margin-bottom: 1.5rem;
  padding: 1rem;
  color: rgb(0, 0, 82);
  width: 350px;
  box-shadow: 0 0 1em;
  position: relative;
}
