.counter {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.counter__button {
  display: flex;
  flex-direction: column;
}

.counter__image {
  height: 35px;
  width: auto;
}
