.create__text {
  font-size: larger;
}

.create__question {
  border: 1px solid rgb(0, 0, 82);
  border-radius: 5px;
  box-shadow: inset 0 0 1em rgb(0, 0, 82);
  background-color: rgb(240, 255, 255, 0.5);
  padding: 1rem;
  color: rgb(0, 0, 82);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.create__question-characters {
  text-align: right;
  margin-top: 10px;
  font-size: smaller;
}

.create__question-counter {
  font-size: smaller;
}

.create__answer {
  border: 1px solid rgb(0, 0, 82);
  border-radius: 5px;
  box-shadow: inset 0 0 1em rgb(0, 0, 82);
  background-color: rgb(240, 255, 255, 0.5);
  padding: 1rem;
  color: rgb(0, 0, 82);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.create__answer-counter {
  font-size: smaller;
}

.create__tags {
  border: 1px solid rgb(0, 0, 82);
  border-radius: 5px;
  box-shadow: inset 0 0 0.2em rgb(0, 0, 82);
  background-color: rgb(240, 255, 255, 0.5);
  padding: 1rem;
  color: rgb(0, 0, 82);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
