.footer__navigation {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 48px;
  gap: 1px;
  border: 1px solid rgb(0, 0, 82);
}

.footer--inactive {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 200, 243);
}

.footer--active {
  background-color: azure;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__image {
  height: 75%;
  width: auto;
}
