.header {
  background-color: rgb(30, 200, 243);
  border: 1px solid rgb(0, 0, 82);
  color: azure;
  text-align: center;
  padding: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header__title {
  font-size: 1.5rem;
}

.header__image {
  height: 40px;
  width: auto;
}
