.profile {
}

.profile__head {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.profile__picture--add {
  border: 1px solid rgb(0, 0, 82);
  border-radius: 50%;
  box-shadow: 0 0 1em rgb(0, 0, 82);
  height: 8rem;
  width: 8rem;
}

.profile__picture {
}

.profile__information {
}

.profile__skills {
}

.profile__tags {
}
